
/*   Typography  */

@font-face {
    font-family: "WS";
    src: url(assets/Work_Sans/WorkSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: "OS";
    src: url(assets/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf)
}


/*   Portada  */

header{

    min-height: 100vh;
    background-image: url(assets/img/Portada.jpg);
    background-position: center;
    background-size: cover;
}


#box-intro{
    padding-left: 5%;
    padding-top: 8%;
}


h1{
    color: #006E9A;
    font-family: "WS";
    font-size: 1.6em !important;
    font-weight: bolder;
    padding-bottom: 1%;
}

h3{
    color: #1a1a1a;
    font-family: "OS";
    font-size: 1.1em  !important;
}

#descargarGP{
    max-width: 190px;
    margin-top: 20%;
    margin-left: 3%;
    
}


/*   2. Features  */

#features-container{
    max-width: 100% !important;
    background-color: #006E9A;
    background-repeat: no-repeat !important;
    background-size: 100% !important;
    padding: 10% 0%;   
}


.card-img{
    margin-bottom: 5%;
    }

.card-title{
    color: white;
    font-family: "OS";
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0 !important;
    padding: 15px;
}


.card-body-text{
    text-align: center;
    color: white;
    font-family: "WS";
    font-size: 16px;
}


/*   3. Spot publicitario */

#video-container{
    padding: 5%;
    background-color: #93D0D4;
}

#box-explication{
    min-height: 60 vh;
    padding-top: 3%;
    text-align: center;
    color: #006E9A !important;
}

#box-centrado{
    margin: auto;
    width: 100%;
    height: 100%;
}

#box-centrado h2{
    font-family: "OS";
    font-size: 18px;
    font-weight: bolder;
}

#box-centrado p{
    font-family: "WS";
    font-size: 16px;
    font-weight: 500;
}

/*   4. Footer  */

#footer-container{
    background-color: #EAB300;
    padding: 5em 5em 2em 5em;
}

footer a{
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    font-family: "OS";
}

footer a:hover{
    text-decoration: none;
    color: #006E9A;
    
}

#footer-contact, #footer-copyright, #footer-socialmedia{
    font-family: "WS";
    font-weight: bolder !important;
    color: white;
    font-size: 18px;
}

/* Contact */
#footer-left-container{
    text-align: left;
    color: white;
}

#footer-telf{
    font-family: "WS";
    font-size: 16px;
}

#footer-email{
    font-family: "WS";
    font-size: 16px;
}

/* Copyright */
#footer-center-container{
    padding-top: 6%;
    text-align: center;
    color: white;
}

#copy-right{
    color: white;
    font-family: "WS";
    font-size: 0.7em;
    padding-top:30px;
    text-align: center;
}


/* Social Media */
#footer-right-container{
    text-align: right;
    color: white;
}

li{
    list-style: none;
    display: inline-flex;
}

#redesociales li {
    display: inline;
    padding: 5px;
}
